.heading2Xl {
  font-size: 1.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 10px 0 0;
}

.headingXl {
  font-size: 1.2rem;
  line-height: 1.3;
  font-weight: 600;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
  color: #959799;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}

.borderCircle {
  border-radius: 9999px;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.lightText {
  color: #666;
}

.card {
  display: flex;
  flex-direction: row;
  gap: 25px;
  margin-bottom: 40px;
}

.firstColumn {
  display: flex;
  flex-direction: column;
  width: 160px;
}

.secondColumn {
  display: flex;
  flex-direction: column;
}

.regular {
  font-family: Arial,sans-serif;
  line-height: 1.43;
  font-size: 14px;
}

.bold {
  font-weight: 700;
  font-family: Arial,sans-serif;
  line-height: 1.43;
  font-size: 14px;
}

.secondary {
  font-family: Arial,sans-serif;
  line-height: 1.43;
  font-size: 14px;
  color: #959799
}